<div class="d-flex flex-column main-container">

  <p class="title">
    Carga de información | {{selectorBar[selected-1]}}
  </p>

  <div class="d-flex selector-bar flex-wrap">
    <button class="btn btn-selector" *ngFor="let btn of selectorBar; let i = index"
            [ngClass]="{'btn-active': i+1==selected }" (click)="changeSelector(i+1)">
      {{btn}}
    </button>
  </div>

  <app-carga-data *ngIf="selected == 1"></app-carga-data>

  <app-carga-convenciones *ngIf="selected == 2"></app-carga-convenciones>

  <app-carga-historial *ngIf="selected == 3"></app-carga-historial>

</div>
