.main-container{
  padding: 2rem 2vw 0;
}
.title{
  font-size: 2.2vw;
  font-weight: 900;
  margin-bottom: 3rem;
}
.sub-title{
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 3rem;
}
.title-inputs{
  color: #ffb806;
  font-size: 1.5vw;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 0;
}
/* Selector bar */
.selector-bar{
  background-color: #eeebeb;
  width: fit-content;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.5vw #00000036;
  margin-bottom: 2rem;
}
.btn-selector{
  background-color: transparent;
  color: #8c1919;
  font-size: 1.4vw;
  font-weight: 900;
  padding: 0.3rem 3vw;
}
.btn-selector:hover{
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color:  #064e69;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}
.btn-active{
  background-color: white;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color:  #064e69;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

/* Preidccion individual */

.form-container{
  margin: 0 2vw;
}

.btn-prediccion{
  background-color: #8c1919;
  color: white;
  font-size: 1.2vw;
  font-weight: 900;
  border-radius: 0.5vw;
  width: 70%;
}

.btn-prediccion:disabled{
  background-color: #373435;
}

.btn-prediccion:active{
  background-color: #444243;
  color: white;
}

/* Errors */

.error-message{
  font-size: 1vw;
  color: red;
  margin-bottom: 0.5rem;
}

/* .input-container:required:invalid {
  box-shadow: 0vw 0vw 0.5vw #8c1919;
} */


/* Prediccion grupal */

.btn-descargar{
  background-color: #8c1919;
  color: white;
  font-size: 1.5vw;
  font-weight: 900;
  border-radius: 1vw;
  width: 25%;
}

.btn-descargar:active{
  background-color: #a32525;
  color: white;
}

.label-input-name{
  width: 50%;
  font-size: 1vw;
  font-weight: 800;
  border-radius: 0.5vw;
  box-shadow: 0.2vw 0.2vw 0.5vw #00000036;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0 3vw 0 1vw;
}
.color-placeholder{
  color: #aeaeae;
}
.label-input-data{
  cursor: pointer;
  width: 15%;
  padding: 1rem 1vw 1rem 1vw;
  margin-left: -2vw;
  background-color: #8c1919;
  border-radius: 1vw;
  color: white;
  font-size: 1vw;
  font-weight: 800;
}
#input-data{
  opacity: 0;
  position: absolute;
  z-index: -1;
}


/* Tabla */

.file-name{
  color: #8b1919;
  font-weight: 900;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color:  #8b1919;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.table-data-container{
  overflow: auto;
  max-height: 70vh;
}

th,td{
  white-space: nowrap;
  text-align: center;
  padding: 1rem 2vw;
  font-size: 1.2vw;
}

thead tr th {
  position: sticky;
  top: 0;
  background-color: white;
}

.card-title{
  /* font-weight: 900; */
  color: #8c1919
}

.campoRequerido{
  color: #8c1919
}
